## Working with Python Variables

Structure of creating a variable
[variable_name] [assignment operator] [value]
myVar = "blah"

### What are the data types in Python
1. Strings - anything inside of "" or ''
2. Booleans - True or False
3. Integers - whole numbers even or odd
4. Floats - any number with a decimal

In [26]:
# Variable Reassignment

# A studen's GPA throughout high school 
student_gpa = 3.2 # Freshman year

student_gpa = 3.4 # sophmore year

student_gpa = 3.7 # Junior year

student_gpa = 3.9 # Senior year
print(student_gpa)

# OUTPUT: 3.9

# If you need to store all data
student_gpa_freshman = 3.2 # Freshman year

student_gpa_sophmore = 3.4 # sophmore year

student_gpa_junior = 3.7 # Junior year

student_gpa_senior = 3.9 # Senior year

3.9

In [27]:
# Sports Team Statistics

# basketball team variables
team_name = "Riverside Ravens"
wins = 18
loses = 7
points_scored = 1456
points_allowed = 1298
leading_scorer = "Jordan Thompson"
average_points_per_game = 58.2
championship_contender = True

print(championship_contender)

True

In [28]:
# The input function 

#input("Enter your first name: ")

firstName = input("Enter your first name: ")

print(firstName)

1

## 4 Main Computational Process

- Input
- Processing
- Output
- Storage (Memory)

## Strings, Assignments, and comments

**Data Types** - consists of a set of values and a set of operations that can be preforemed on those values

A **Literal** - is the way a value of a data type looks to a programmer

<table>
    <tr>
        <th>Type of Data</th>
        <th>Python Type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr>
        <td>Integers</td>
        <td>Int</td>
        <td>-1, 0, 1, 365, -1457325</td>
    </tr>
    <tr>
        <td>Real Numbers</td>
        <td>Floats</td>
        <td>-0.55, .3333, 3.14, 6.0, .5, 5.</td>
    </tr>
    <tr>
        <td>Character Strings</td>
        <td>Str</td>
        <td>"Hello", "", " ", 'A' "675"</td>
    </tr>
</table>

In [29]:
hello = 'Hello there!'
myInt = 675
print(hello) # Literal is: Hello There!
print(myInt) # Literal is: 675

Hello there!
675

## Escape Sequences

**Escape Sequence** - The way python expresses special characters, such as the tab, the newline, and the backspace as literals.

<table>
    <tr>
        <th>Excape Sequence</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>\b</td>
        <td>Backspace</td>
    </tr>
     <tr>
        <td>\n</td>
        <td>New Line</td>
    </tr>
     <tr>
        <td>\t</td>
        <td>Horizontal Tab</td>
    </tr>
     <tr>
        <td>\\</td>
        <td>The \ character</td>
    </tr>
     <tr>
        <td>\'</td>
        <td>Single Quotation mark</td>
    </tr>
     <tr>
        <td>\"</td>
        <td>Double Quotation mark</td>
    </tr>
</table>

## Initializing a Variable or Constant

**Initializing** - This is the process of creating a variable and setting it to a default value

## Formatting Text for Output

- This process is for presenting required output in tabular format
- **feild Width** - total number of data characters and additional spaces for a given datum in a formatted string
- **%** = format operator 
- **%6s** = format string

In [30]:
for exponent in range (7, 11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [31]:
print("four")
print("%6s" % "four") # Right Justify
print("%-6s" % "four" ) # Left Justify

four
  four
four

## Define Iteration

Repeating an action or process a predefined number of times. Also known as a specific type of iteration: **Definite Iteration**

Perform an action or process until the program determines that it needs to stop: **Indefinite Iteration**

#### Each of these Iterations uses a different type of Loop

Definite Iteration --> for Loop
Indefinite Iteration --> while Loop

In [32]:
# Execute a statement a given number of times 

for eachPass in range(4): # Iterate through the conained code 4 times
    print("It's alive!", end = " ")
    # Each time through the loop, counting 0 - 3
    # Print It's alive! followed by a blank space

It's alive! It's alive! It's alive! It's alive!

## The Structure of a for Loop

for (variable) in range(an integer expression): 
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat any number of statements 

**loop header** - the line that starts with 'for' <br>
**loop body** - comprises the statements in the remaining lines of code, below the header

## Python's exponation operator

In [33]:
# Exponant Example

number = 2
exponent = 3
product = 1

print("\n The Variable product is currently: ", product)

for eachPass in range(exponent):
    product = product * number
    print(product, end= " ")

print("\n The Variable product is now: ", product)

 The Variable product is currently:  1
2 4 8
 The Variable product is now:  8

## Count-controlled Loops

**Count-Controlled Loops** - Loops that count through a range of numbers

In [34]:
for count in range(4):
    print(count, end=" ")

0 1 2 3

In [35]:
product = 1 # Initializing a counter

for count in range(4):
    product = product * (count + 1) # Off by 1 error 
    print(product, end= " ")

1 2 6 24

## Loop through a range of numbers:

In [36]:
product = 1

for count in range(1, 5): # (1, 5) - start in 1, 1 is the first number in the sequence
                                    # 5 is the first number NOT in the sequence
    product = product * count
    print(product, end= " ")

1 2 6 24

## Loop Head structure with lower and upper bounds

for (variable) in range(lower bound, upper bound + 1):

In [37]:
lower = int(input("Enter the lower bound: "))
upper = int(input("Enter the upper bound: "))

theSum = 0 # Notice, we create theSum, because sum is a python keyword

for number in range(lower, upper + 1):
    theSum = theSum + number

print(theSum)

5

## Augmented  Assignment

**Augmented Assignment** - When the assignment symbol can be combined with the arithmetic and concatination operators

Structure: 
(variable) (operator)= (expression)

In [38]:
a = 17
s = "Hi"
a += 3      # equivalent to = is a = a +3
print(a)

a *= 3      # equivalent to a = a * 3
print(a)

a %= 3      # equivalent to a = a % 3
print(a)

20
60
0

In [39]:
s += " there!" # equivalent to s = s + " there"
print(s)

Hi there!

## Loop Errors: Off-By-One Error

**Off-By-One Error** - these are errors that result when the programmer incorrectly specifies the upper bound for a loop

In [40]:
# Count from 1 through 4, we think

for count in range(1, 5):
    print(count)

1
2
3
4

## Traversing the contents of a Data Sequence

In [42]:
print(list(range(4)))
print(list(range(1,5)))

[0, 1, 2, 3]
[1, 2, 3, 4]

In [2]:
# Use something other than the range function in the loop head

list1 = [1, 2, 3, 4, 5]

for number in [6, 4, 8]:
    print(number, end= ' ')
    
for number in list1:
    print("\n", number, end=' ')

6 4 8
 1
 2
 3
 4
 5

In [ ]:
for charcter in "Hi, there!":
    print(charcter, end=" ")

H i   t h e r e !

## Specifying the steps in the range

Another variant of the pythong range() funtion, allows us ti enter 3 values as arguments

range(bal1, val2, val3)
val1 - Is the first value in the range
val2 - The first value NOT in the range. (val2- val1)
val3 - The Step Value - is the interval between the numbers used in the range

In [6]:
print(list(range(1, 6, 1))) # [1, 2, 3, 4, 5]
print(list(range(1, 6, 2))) # [1, 3, 5]
print(list(range(1, 6, 3))) # [1, 4]

[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 4]

In [8]:
# Lets suppose we want to compute a sum of the even numbers between 1 and 10
theSum = 0
for count in range(2, 11, 2):
    theSum += count

print(theSum)

30

## Loops That count down

* Until now we have been counting Up based on what our range is.

In [1]:
for count in range(10, 0, -1):
    print(count, end= " ")

10 9 8 7 6 5 4 3 2 1

In [2]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Back to Formatting Text for Output

In [3]:
for exponent in range(7, 11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

### Format String and Format Operator

In [10]:
# <format string> % <datum>

for exponent in range(7, 11):
    print("%-3d%12d" % (exponent, 10 ** exponent))
    # %-3d = first column in the data output - go back -3 spaces back from where the  first and second column meet - the feild justify left
    # %12d = second column in the data output will be 12 characters wide (the Feild Width), everthing in the feild will justify right

7      10000000
8     100000000
9    1000000000
10  10000000000

In [14]:
salary = 100.00
print("Your salary is $" + str(salary))
print("Your salary is $ %0.2f" % salary)

Your salary is $100.0
Your salary is $ 100.00

In [ ]:
print("%6.3f" % 3.14)
# 6 total digits, with 3 digits after the decimal

 3.140

## Python if-else statements

if and if-else statements are "Branching" statements. They allow Python to examine or test a condition. Based on the results of that test, your code translation will branch in one direction or the other. Analogy: Think of a fork in the Road. You can go left or right

It is also known as a selection statement

### How does python test a conditional?

Python uses Booleans to test conidtions. <br>
If 2 + 3 == 5:<br>
    run some code...<br>
else:<br>
    run some other code

Python will use simple comparison operators to do this: 

== - Equals <br>
!= - Not Equals<br>
< - Less than<br>
\> - Greater than<br>
<= - Less than or Equal<br>
\>= = Greater than or Equal<br>

In [ ]:
print(4 == 4)
print(4 == 7)
print(4 != 4)
print(4 < 5)
print(4 >= 3)
print("A" < "B")

True
False
False
True
True

In [8]:
# Python if-else Statement Example
import math
area = float(input("Enter the area: "))

if area > 0:    # if <condition>
    radius = math.sqrt(area/ math.pi)   # run a sequence of <statements>
    print("The radius is", radius)
else:   # OTHERWISE
    print("Error: the area must be a positive number.") # run THIS sequence of <statements>

The radius is 1.4927053303604616

In [11]:
# This example print the maximum and minimum if two imput numbers
first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))

if first > second:
    maximum = first
    minumim = second
else:
    maximum = second
    minumim = first

print("Maximum: ", maximum)
print("Minimum: ", minumim)

Maximum:  89
Minimum:  14

## Python min and max functions

In [ ]:
# min() and max() will eliminate the need for if-else statement
first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))

print("Maximum:", max(first, second))
print("Minimum:", min(first, second))

Maximum:  98
Minimum 56

## One-way Selection Statement

In [14]:
x = 25
if x < 0:
    x = -x

print(x)

25

## Multi-Way if Statements

In [22]:
number = int(input("Enter the numeric grade: "))
if number > 89:
    letter = "A"
elif number > 79:
    letter = "B"
elif number > 69:
    letter = "C"
else:
    letter = "F"

print("The letter grade is: " + letter)

The letter grade is: A

## Logical Operators and Compound Boolean Expressions

Often times in the course of a Python script interpretation, we may have to check to see if 2 or more conditional statements are true before running a sequence of code.

In [24]:
number = int(input("Enter the numeric grade: "))
if number > 100:
    print("ERROR: grade must be between 100 and 0")
elif number < 0:
    print("ERROR: grade must be between 100 and 0")
else:
    # Run the same code as the example above
    print("You know how to follow instructions")

ERROR: grade must be between 100 and 0

### Compound Boolean Expression

Testing multiple conditions at the same time. 

To do this we use **Logical Operators**

- and 
- or 
- not

In [27]:
number = int(input("Enter the numeric grade: "))
if number > 100 or number < 0: # Using the or logic operator
    print("ERROR: grade must be between 100 and 0")
else:
    print("The code from above")

if number <= 0 and number >= 100: # Using the and logic operator
    print("The code from above")
else:
    print("ERROR: grade must be between 100 and 0")

ERROR: grade must be between 100 and 0
ERROR: grade must be between 100 and 0

## Truth Tables

<h2>and Table</h2>
<table>
    <tr>
        <th>
            A
        </th>
        <th>
            B
        </th>
        <th>
            A and B
        </th>
    </tr>
    <tr>
        <td>
            True
        </td>
        <td>
            True
        </td>
        <td>
            True
        </td>
    </tr>
    <tr>
        <td>
            True
        </td>
        <td>
            False
        </td>
        <td>
            False
        </td>
    </tr>
        <tr>
        <td>
            False
        </td>
        <td>
            True
        </td>
        <td>
            False
        </td>
    </tr>
        <tr>
        <td>
            False
        </td>
        <td>
            False
        </td>
        <td>
            False
        </td>
    </tr>
</table>

<h2>or table</h2>
<table>
    <tr>
        <th>
            A
        </th>
        <th>
            B
        </th>
        <th>
            A Or B
        </th>
    </tr>
    <tr>
        <td>
            True
        </td>
        <td>
            True
        </td>
        <td>
            True
        </td>
    </tr>
    <tr>
        <td>
            True
        </td>
        <td>
            False
        </td>
        <td>
            True
        </td>
    </tr>
        <tr>
        <td>
            False
        </td>
        <td>
            True
        </td>
        <td>
            True
        </td>
    </tr>
        <tr>
        <td>
            False
        </td>
        <td>
            False
        </td>
        <td>
            False
        </td>
    </tr>
</table>

<h2>not Table</h2>
<table>
    <tr>
        <th>A</th>
        <td>not A</td>
    </tr>
    <tr>
        <td>True</td>
        <td>False</td>
    </tr>
    <tr>
        <td>False</td>
        <td>True</td>
    </tr>
</table>

## Short-circuit Evaluation

Python sometimes knows the value of a Boolean expression before it has evaluates all of tje operands. For instance, in the expression A and B, if A is false, then so is the expression, and there is no need to evaluate B.

In [31]:
count = int(input("Enter the count: "))
theSum = int(input("Enter the sum: "))
if count > 0 and theSum // count > 10:
    print("average > 10")
else:
    print("count = 0 or average <= 10")

average > 10

## Conditional Iteration: The while Loop

In [1]:
# while Loop Structure

#while <condition>:
    #<sequence of statements>

## Infinite Loop
a Loop the remains treu, hence you never escape out of the loop

In [ ]:
''''
set the sum to 0.0
input the string
while the string is not the empty string
    conert the string to a float
    add the float to the sum
    input a string
print the sum

Loop Control Variable - the first input statement that initializes a variable to a value that the loop conidtion can test.
'''

theSum = 0.0
data = input("Enter a number or just enter to quit: ")
while data != "":
    number = float(data)
    theSum += number
    data = input("Enter a number or just enter to quit: ")

print("The sum is:", theSum)

The sum is: 5461.0

The while Loop is also called an entry-control loop, because its condition is tested at the top of the loop.

## while True Loops

you can simplify the while structure and improve its readability by turning it into a while True

when using while True, you also can implement a break statement